@import "../sass/components/Header/_header.scss";
@import "../sass/components/Main/Modal/modal";
@import "../sass/components/Main/firstSection";
@import "../sass/components/Main/secondSection";
@import "../sass/components/Main/thirdSection";
@import "../sass/components/Main/fourthSection";
@import "../sass/components/Main/fifthSection";
@import "../sass/components/Footer/footer";
@import "../sass/components/Portfolio/bottomSection";
@import "../sass/components/Portfolio/cardSectiom";
