.fourth-section {
  display: flex;
  align-items: center;
  height: 648px;
  margin-top: 94px;
  background: #f5f4fa;
  justify-content: center;
  padding-bottom: 94px;
}
.fourth-title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.container-fourth-section > ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.fourth-grid__item-name,
.fourth-grid__item-specialty {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.fourth-grid__item-name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}
.fourth-grid__item-specialty {
  margin-bottom: 30px;
  color: #757575;
}
.fourth-grid__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social-media-container {
  display: flex;
  padding-bottom: 30px;
  margin: 0 auto;
  & > ul {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
    list-style: none;
  }
}

.fourth-grid-social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  & a {
    fill: #afb1b8;
    &:hover,
    &:focus {
      fill: #ffffff;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &:hover,
  &:focus {
    background-color: #2196f3;
    transition: "background-color" 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
