.second-section {
  height: auto;
  letter-spacing: 0.03em;
  margin-top: 94px;
  justify-content: center;
}
.second-container {
  margin-bottom: 30px;
}

.grid-product,
.second-grid {
  list-style: none;
}
.second-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding-left: 0px;
}
.grid-product__title {
  display: flex;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
  justify-content: center;
}
.grid-product__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 15px;
  margin-right: 15px;
}
.description-box {
  background: #f5f4fa;
  border-radius: 4px;
  padding-bottom: 30px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .second-grid__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .second-grid__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .grid-product__title {
    justify-content: flex-start;
  }
  .description-box,
  .grid-product__description {
    margin-left: 0px;
    margin-right: 0px;
  }
}
